<div id='login'>
  <h1>Log In</h1>
  <form name="loginForm" ng-submit='login()'>
    <input name='username' type='text' ng-model='user.username' required>
    <div class='invalid' ng-show='loginForm.username.$error.text'></div>
    <input name='password' type="password" ng-model='user.password' required>
    <div class='invalid' ng-show='loginForm.password.$error.text'></div>
    <button>Log In</button>
  </form>
  <a href="#/signup">New to Something I Ate? <strong>Create an account</strong> ...</a>
</div>
