<div id = 'customizeContainer' ng-controller='CustomizeController'>
<h2> Customize Your Log </h2>
  <h4> Foods I want to track: </h4>
<!--   <form action=""> -->
<p>
  <input type="text" ng-model="custom.foodAcheck" placeholder="Food 1">
  <label for="foodAcheck"></label>
</p>
<p>
  <input type="text" ng-model="custom.foodBcheck" placeholder="Food 2">
  <label for="foodBcheck"></label>
</p>
<p>
  <input type="text" ng-model="custom.foodCcheck" placeholder="Food 3">
  <label for="foodCcheck"></label>
</p>
<p>
  <input type="text" ng-model="custom.foodDcheck" placeholder="Food 4">
  <label for="foodDcheck"></label>
</p>
<p>
  <input type="text" ng-model="custom.foodEcheck" placeholder="Food 5">
  <label for="foodEcheck"></label>
</p>

  <h4> My primary symptom: </h4>
    <p>
      <input type="text" ng-model="custom.symptoms" placeholder="Symptom">
      <label for="symptoms"></label>
    </p>
  <button type="button" ng-click="customizeLog();">Submit</button>
<!--   </form> -->
  <p>
</div>